## Combine in dataframes

In [94]:
import pandas as pd
import numpy as np
import math

In [95]:
##Read in seperate dfs
#nfl_2021 = pd.read_csv('nfl_scrape.csv')
#nfl_2015 = pd.read_csv('nfl_scrape_2015_2020.csv')
#nfl_2014 = pd.read_csv('nfl_scrape_2014_2025.csv')
#nfl_2010 = pd.read_csv('nfl_scrape_test.csv')
#
#dfs = [nfl_2010, nfl_2014, nfl_2015, nfl_2021]
#nfl = nfl_2010.copy()
#
##Append dfs together
#for i in range(len(dfs)-1):
#    nfl = nfl.append(dfs[i+1])

In [96]:
nfl = pd.read_csv('nfl_scrape_home_scrape.csv')

In [97]:
##Sort and save csv
#nfl = nfl.sort_values(by='year')
#nfl.to_csv('nfl_data_full.csv')

In [98]:
nfl.head()

,year,week,home_team,winning_team,winning_score,losing_team,losing_score,game_id,home_1st Downs,away_1st Downs,...,away_Turnovers,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under
0,2010,1,New Orleans,NO,14,MIN,9,300909018,18,12,...,1,0,0,0,0,33:43,26:17,NaN,NaN,NaN
1,2010,1,Buffalo,MIA,15,BUF,10,300912002,9,19,...,0,0,0,0,0,23:07,36:53,NaN,NaN,NaN
2,2010,1,Chicago,CHI,19,DET,14,300912003,23,13,...,3,3,2,0,0,34:42,25:18,NaN,NaN,NaN
3,2010,1,Tennessee,TEN,38,OAK,13,300912010,17,21,...,2,1,1,0,0,31:04,28:56,NaN,NaN,NaN
4,2010,1,New England,NE,38,CIN,24,300912017,20,26,...,2,0,1,3,0,28:10,31:50,NaN,NaN,NaN

In [99]:
nfl.shape

(3036, 59)

## Add missing lines

In [100]:
spreads = pd.read_csv('spreadspoke_scores.csv')
spreads.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,9/2/1966,1966,1,False,Miami Dolphins,14,23,Oakland Raiders,NaN,NaN,NaN,Orange Bowl,False,83.0,6.0,71.0,NaN
1,9/3/1966,1966,1,False,Houston Oilers,45,7,Denver Broncos,NaN,NaN,NaN,Rice Stadium,False,81.0,7.0,70.0,NaN
2,9/4/1966,1966,1,False,San Diego Chargers,27,7,Buffalo Bills,NaN,NaN,NaN,Balboa Stadium,False,70.0,7.0,82.0,NaN
3,9/9/1966,1966,2,False,Miami Dolphins,14,19,New York Jets,NaN,NaN,NaN,Orange Bowl,False,82.0,11.0,78.0,NaN
4,9/10/1966,1966,1,False,Green Bay Packers,24,3,Baltimore Colts,NaN,NaN,NaN,Lambeau Field,False,64.0,8.0,62.0,NaN

In [101]:
# Reduce spreads to years of interest
spreads_filtered = spreads[spreads['schedule_season']>2009]
spreads_filtered = spreads_filtered[spreads_filtered['schedule_season']<2021]
spreads_filtered = spreads_filtered[spreads_filtered['schedule_playoff']==False]
spreads_filtered.shape

(2816, 17)

In [102]:
spreads_filtered.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
10008,9/9/2010,2010,1,False,New Orleans Saints,14,9,Minnesota Vikings,NO,-5.0,49.5,Louisiana Superdome,False,72.0,0.0,NaN,DOME
10009,9/12/2010,2010,1,False,Buffalo Bills,10,15,Miami Dolphins,MIA,-3.0,39,Ralph Wilson Stadium,False,64.0,7.0,81.0,NaN
10010,9/12/2010,2010,1,False,Chicago Bears,19,14,Detroit Lions,CHI,-6.5,45,Soldier Field,False,75.0,1.0,45.0,NaN
10011,9/12/2010,2010,1,False,Houston Texans,34,24,Indianapolis Colts,IND,-1.0,48,Reliant Stadium,False,89.0,5.0,NaN,DOME (Open Roof)
10012,9/12/2010,2010,1,False,Jacksonville Jaguars,24,17,Denver Broncos,JAX,-3.0,41.5,EverBank Field,False,91.0,1.0,67.0,NaN

In [103]:
nfl.head(10)

,year,week,home_team,winning_team,winning_score,losing_team,losing_score,game_id,home_1st Downs,away_1st Downs,...,away_Turnovers,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under
0,2010,1,New Orleans,NO,14,MIN,9,300909018,18,12,...,1,0,0,0,0,33:43,26:17,NaN,NaN,NaN
1,2010,1,Buffalo,MIA,15,BUF,10,300912002,9,19,...,0,0,0,0,0,23:07,36:53,NaN,NaN,NaN
2,2010,1,Chicago,CHI,19,DET,14,300912003,23,13,...,3,3,2,0,0,34:42,25:18,NaN,NaN,NaN
3,2010,1,Tennessee,TEN,38,OAK,13,300912010,17,21,...,2,1,1,0,0,31:04,28:56,NaN,NaN,NaN
4,2010,1,New England,NE,38,CIN,24,300912017,20,26,...,2,0,1,3,0,28:10,31:50,NaN,NaN,NaN
5,2010,1,New York,NYG,31,CAR,18,300912019,21,14,...,5,1,2,0,0,34:39,25:21,NaN,NaN,NaN
6,2010,1,Pittsburgh,PIT,15,ATL,9,300912023,14,18,...,1,0,0,0,0,32:06,30:29,NaN,NaN,NaN
7,2010,1,Tampa Bay,TB,17,CLE,14,300912027,13,15,...,3,1,1,0,0,32:21,27:39,NaN,NaN,NaN
8,2010,1,Jacksonville,JAX,24,DEN,17,300912030,18,21,...,2,0,1,0,0,29:30,30:30,NaN,NaN,NaN
9,2010,1,Houston,HOU,34,IND,24,300912034,23,25,...,1,0,1,0,0,30:53,29:07,NaN,NaN,NaN

In [104]:
team_list = np.sort(spreads_filtered['team_home'].unique())
print(team_list)

['Arizona Cardinals' 'Atlanta Falcons' 'Baltimore Ravens' 'Buffalo Bills'
 'Carolina Panthers' 'Chicago Bears' 'Cincinnati Bengals'
 'Cleveland Browns' 'Dallas Cowboys' 'Denver Broncos' 'Detroit Lions'
 'Green Bay Packers' 'Houston Texans' 'Indianapolis Colts'
 'Jacksonville Jaguars' 'Kansas City Chiefs' 'Las Vegas Raiders'
 'Los Angeles Chargers' 'Los Angeles Rams' 'Miami Dolphins'
 'Minnesota Vikings' 'New England Patriots' 'New Orleans Saints'
 'New York Giants' 'New York Jets' 'Oakland Raiders' 'Philadelphia Eagles'
 'Pittsburgh Steelers' 'San Diego Chargers' 'San Francisco 49ers'
 'Seattle Seahawks' 'St. Louis Rams' 'Tampa Bay Buccaneers'
 'Tennessee Titans' 'Washington Football Team' 'Washington Redskins']

In [105]:
abr_list = np.sort(nfl['home_team'].unique())
len(abr_list)

33

In [106]:
#Create dictionary mapping team names to abreviation
full_team_dict = {'Arizona Cardinals': 'ARI', 'Atlanta Falcons': 'ATL', 'Baltimore Ravens': 'BAL', 'Buffalo Bills': 'BUF',
 'Carolina Panthers': 'CAR', 'Chicago Bears': 'CHI', 'Cincinnati Bengals': 'CIN',
 'Cleveland Browns': 'CLE', 'Dallas Cowboys': 'DAL', 'Denver Broncos': 'DEN', 'Detroit Lions': 'DET',
 'Green Bay Packers': 'GB', 'Houston Texans': 'HOU', 'Indianapolis Colts': 'IND',
 'Jacksonville Jaguars': 'JAX', 'Kansas City Chiefs': 'KC', 'Las Vegas Raiders': 'LV',
 'Los Angeles Chargers': 'LAC', 'Los Angeles Rams': 'LAR', 'Miami Dolphins': 'MIA',
 'Minnesota Vikings': 'MIN', 'New England Patriots': 'NE', 'New Orleans Saints': 'NO',
 'New York Giants': 'NYG', 'New York Jets': 'NYJ', 'Oakland Raiders': 'OAK', 'Philadelphia Eagles': 'PHI',
 'Pittsburgh Steelers': 'PIT', 'San Diego Chargers': 'SD', 'San Francisco 49ers': 'SF',
 'Seattle Seahawks': 'SEA', 'St. Louis Rams': 'STL', 'Tampa Bay Buccaneers': 'TB',
 'Tennessee Titans': 'TEN', 'Washington Football Team': 'WSH', 'Washington Redskins': 'WSH'}

In [107]:
#Create dictionary mapping team names to abreviation
city_team_dict = {'Arizona': 'ARI', 'Atlanta': 'ATL', 'Baltimore': 'BAL', 'Buffalo': 'BUF',
 'Carolina': 'CAR', 'Chicago': 'CHI', 'Cincinnati': 'CIN',
 'Cleveland': 'CLE', 'Dallas': 'DAL', 'Denver': 'DEN', 'Detroit': 'DET',
 'Green Bay': 'GB', 'Houston': 'HOU', 'Indianapolis': 'IND',
 'Jacksonville': 'JAX', 'Kansas City': 'KC', 'Las Vegas': 'LV',
 'Los Angeles': 'LAC', 'Los Angeles': 'LAR', 'Miami': 'MIA',
 'Minnesota': 'MIN', 'New England': 'NE', 'New Orleans': 'NO',
 'New York': 'NYG', 'New York Jets': 'NYJ', 'Oakland': 'OAK', 'Philadelphia': 'PHI',
 'Pittsburgh': 'PIT', 'San Diego': 'SD', 'San Francisco': 'SF',
 'Seattle': 'SEA', 'St. Louis': 'STL', 'Tampa Bay': 'TB',
 'Tennessee': 'TEN', 'Washington': 'WSH'}

In [108]:
# Replacing team names with abreviations
for i in range(spreads_filtered.shape[0]):
    spreads_filtered['team_home'].iloc[i] = full_team_dict[spreads_filtered['team_home'].iloc[i]]
    spreads_filtered['team_away'].iloc[i] = full_team_dict[spreads_filtered['team_away'].iloc[i]]

/Users/jeffreymayolo/miniforge3/envs/tensorflow/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [109]:
spreads_filtered.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
10008,9/9/2010,2010,1,False,NO,14,9,MIN,NO,-5.0,49.5,Louisiana Superdome,False,72.0,0.0,NaN,DOME
10009,9/12/2010,2010,1,False,BUF,10,15,MIA,MIA,-3.0,39,Ralph Wilson Stadium,False,64.0,7.0,81.0,NaN
10010,9/12/2010,2010,1,False,CHI,19,14,DET,CHI,-6.5,45,Soldier Field,False,75.0,1.0,45.0,NaN
10011,9/12/2010,2010,1,False,HOU,34,24,IND,IND,-1.0,48,Reliant Stadium,False,89.0,5.0,NaN,DOME (Open Roof)
10012,9/12/2010,2010,1,False,JAX,24,17,DEN,JAX,-3.0,41.5,EverBank Field,False,91.0,1.0,67.0,NaN

In [110]:
nfl.head(-20)

,year,week,home_team,winning_team,winning_score,losing_team,losing_score,game_id,home_1st Downs,away_1st Downs,...,away_Turnovers,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under
0,2010,1,New Orleans,NO,14,MIN,9,300909018,18,12,...,1,0,0,0,0,33:43,26:17,NaN,NaN,NaN
1,2010,1,Buffalo,MIA,15,BUF,10,300912002,9,19,...,0,0,0,0,0,23:07,36:53,NaN,NaN,NaN
2,2010,1,Chicago,CHI,19,DET,14,300912003,23,13,...,3,3,2,0,0,34:42,25:18,NaN,NaN,NaN
3,2010,1,Tennessee,TEN,38,OAK,13,300912010,17,21,...,2,1,1,0,0,31:04,28:56,NaN,NaN,NaN
4,2010,1,New England,NE,38,CIN,24,300912017,20,26,...,2,0,1,3,0,28:10,31:50,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3011,2022,15,Carolina,PIT,24,CAR,16,401437907,12,22,...,0,0,0,0,0,23:49,36:11,CAR,-3.0,37.0
3012,2022,15,Jacksonville,JAX,40,DAL,34,401437910,26,24,...,2,2,0,1,0,27:42,35:26,DAL,-4.0,48.0
3013,2022,15,Houston,KC,30,HOU,24,401437909,18,33,...,2,1,2,0,0,27:25,37:22,KC,-14.0,48.5
3014,2022,15,Denver,DEN,24,ARI,15,401437912,23,13,...,3,1,0,0,0,32:58,27:02,DEN,-2.0,37.0
3015,2022,15,Las Vegas,LV,30,NE,24,401437915,18,19,...,1,0,1,1,1,33:16,26:44,LV,-2.5,45.0

In [111]:
for i in range(nfl.shape[0]):
    nfl['home_team'].iloc[i] = city_team_dict[nfl['home_team'].iloc[i]]
    win_lose_teams = [nfl['winning_team'].iloc[i], nfl['losing_team'].iloc[i]]
    if nfl['home_team'].iloc[i] not in win_lose_teams:
        nfl['home_team'].iloc[i] = 'NYJ'

/Users/jeffreymayolo/miniforge3/envs/tensorflow/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [112]:
nfl.head(-20)

,year,week,home_team,winning_team,winning_score,losing_team,losing_score,game_id,home_1st Downs,away_1st Downs,...,away_Turnovers,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under
0,2010,1,NO,NO,14,MIN,9,300909018,18,12,...,1,0,0,0,0,33:43,26:17,NaN,NaN,NaN
1,2010,1,BUF,MIA,15,BUF,10,300912002,9,19,...,0,0,0,0,0,23:07,36:53,NaN,NaN,NaN
2,2010,1,CHI,CHI,19,DET,14,300912003,23,13,...,3,3,2,0,0,34:42,25:18,NaN,NaN,NaN
3,2010,1,TEN,TEN,38,OAK,13,300912010,17,21,...,2,1,1,0,0,31:04,28:56,NaN,NaN,NaN
4,2010,1,NE,NE,38,CIN,24,300912017,20,26,...,2,0,1,3,0,28:10,31:50,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3011,2022,15,CAR,PIT,24,CAR,16,401437907,12,22,...,0,0,0,0,0,23:49,36:11,CAR,-3.0,37.0
3012,2022,15,JAX,JAX,40,DAL,34,401437910,26,24,...,2,2,0,1,0,27:42,35:26,DAL,-4.0,48.0
3013,2022,15,HOU,KC,30,HOU,24,401437909,18,33,...,2,1,2,0,0,27:25,37:22,KC,-14.0,48.5
3014,2022,15,DEN,DEN,24,ARI,15,401437912,23,13,...,3,1,0,0,0,32:58,27:02,DEN,-2.0,37.0
3015,2022,15,LV,LV,30,NE,24,401437915,18,19,...,1,0,1,1,1,33:16,26:44,LV,-2.5,45.0

In [113]:
type(spreads_filtered['schedule_season'].iloc[0])

numpy.int64

In [114]:
# Add column to match based off week, home team and away team
spreads_filtered['match'] = None
spreads_filtered['match'] = spreads_filtered['schedule_week'] + spreads_filtered['team_home'] + spreads_filtered['schedule_season'].astype(str)
spreads_filtered.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,match
10008,9/9/2010,2010,1,False,NO,14,9,MIN,NO,-5.0,49.5,Louisiana Superdome,False,72.0,0.0,NaN,DOME,1NO2010
10009,9/12/2010,2010,1,False,BUF,10,15,MIA,MIA,-3.0,39,Ralph Wilson Stadium,False,64.0,7.0,81.0,NaN,1BUF2010
10010,9/12/2010,2010,1,False,CHI,19,14,DET,CHI,-6.5,45,Soldier Field,False,75.0,1.0,45.0,NaN,1CHI2010
10011,9/12/2010,2010,1,False,HOU,34,24,IND,IND,-1.0,48,Reliant Stadium,False,89.0,5.0,NaN,DOME (Open Roof),1HOU2010
10012,9/12/2010,2010,1,False,JAX,24,17,DEN,JAX,-3.0,41.5,EverBank Field,False,91.0,1.0,67.0,NaN,1JAX2010

In [115]:
type(nfl['week'].iloc[0])

numpy.int64

In [116]:
nfl['match'] = None
nfl['match'] = nfl['week'].astype(str) + nfl['home_team'].astype(str) + nfl['year'].astype(str)
nfl.head()

,year,week,home_team,winning_team,winning_score,losing_team,losing_score,game_id,home_1st Downs,away_1st Downs,...,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under,match
0,2010,1,NO,NO,14,MIN,9,300909018,18,12,...,0,0,0,0,33:43,26:17,NaN,NaN,NaN,1NO2010
1,2010,1,BUF,MIA,15,BUF,10,300912002,9,19,...,0,0,0,0,23:07,36:53,NaN,NaN,NaN,1BUF2010
2,2010,1,CHI,CHI,19,DET,14,300912003,23,13,...,3,2,0,0,34:42,25:18,NaN,NaN,NaN,1CHI2010
3,2010,1,TEN,TEN,38,OAK,13,300912010,17,21,...,1,1,0,0,31:04,28:56,NaN,NaN,NaN,1TEN2010
4,2010,1,NE,NE,38,CIN,24,300912017,20,26,...,0,1,3,0,28:10,31:50,NaN,NaN,NaN,1NE2010

In [117]:
# Filter spreads to only the columns that matter
spreads_df = spreads_filtered[['team_favorite_id', 'spread_favorite', 'over_under_line', 'match']]
spreads_df.head()

      team_favorite_id  spread_favorite over_under_line     match
10008               NO             -5.0            49.5   1NO2010
10009              MIA             -3.0              39  1BUF2010
10010              CHI             -6.5              45  1CHI2010
10011              IND             -1.0              48  1HOU2010
10012              JAX             -3.0            41.5  1JAX2010

In [118]:
#Combine dataframes based off matching column
nfl_test = nfl.join(spreads_df.set_index('match'), on = 'match')
nfl_test.head()

,year,week,home_team,winning_team,winning_score,losing_team,losing_score,game_id,home_1st Downs,away_1st Downs,...,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under,match,team_favorite_id,spread_favorite,over_under_line
0,2010,1,NO,NO,14,MIN,9,300909018,18,12,...,0,33:43,26:17,NaN,NaN,NaN,1NO2010,NO,-5.0,49.5
1,2010,1,BUF,MIA,15,BUF,10,300912002,9,19,...,0,23:07,36:53,NaN,NaN,NaN,1BUF2010,MIA,-3.0,39
2,2010,1,CHI,CHI,19,DET,14,300912003,23,13,...,0,34:42,25:18,NaN,NaN,NaN,1CHI2010,CHI,-6.5,45
3,2010,1,TEN,TEN,38,OAK,13,300912010,17,21,...,0,31:04,28:56,NaN,NaN,NaN,1TEN2010,TEN,-6.5,40
4,2010,1,NE,NE,38,CIN,24,300912017,20,26,...,0,28:10,31:50,NaN,NaN,NaN,1NE2010,NE,-5.5,45

In [119]:
# Fill in values in the full data frame so there is only one column for lines
for t in range(nfl_test.shape[0]):
    if type(nfl_test['favorite'].iloc[t]) != str:
        nfl_test['favorite'].iloc[t] = nfl_test['team_favorite_id'].iloc[t]
        nfl_test['line'].iloc[t] = nfl_test['spread_favorite'].iloc[t]
        nfl_test['over/under'].iloc[t] = nfl_test['over_under_line'].iloc[t]
nfl_test.head()

/Users/jeffreymayolo/miniforge3/envs/tensorflow/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,year,week,home_team,winning_team,winning_score,losing_team,losing_score,game_id,home_1st Downs,away_1st Downs,...,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under,match,team_favorite_id,spread_favorite,over_under_line
0,2010,1,NO,NO,14,MIN,9,300909018,18,12,...,0,33:43,26:17,NO,-5.0,49.5,1NO2010,NO,-5.0,49.5
1,2010,1,BUF,MIA,15,BUF,10,300912002,9,19,...,0,23:07,36:53,MIA,-3.0,39,1BUF2010,MIA,-3.0,39
2,2010,1,CHI,CHI,19,DET,14,300912003,23,13,...,0,34:42,25:18,CHI,-6.5,45,1CHI2010,CHI,-6.5,45
3,2010,1,TEN,TEN,38,OAK,13,300912010,17,21,...,0,31:04,28:56,TEN,-6.5,40,1TEN2010,TEN,-6.5,40
4,2010,1,NE,NE,38,CIN,24,300912017,20,26,...,0,28:10,31:50,NE,-5.5,45,1NE2010,NE,-5.5,45

In [120]:
# Drop unecessary columns
nfl_test = nfl_test.drop(['match', 'team_favorite_id', 'spread_favorite', 'over_under_line'], axis = 1)
nfl_test.head()

,year,week,home_team,winning_team,winning_score,losing_team,losing_score,game_id,home_1st Downs,away_1st Downs,...,away_Turnovers,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under
0,2010,1,NO,NO,14,MIN,9,300909018,18,12,...,1,0,0,0,0,33:43,26:17,NO,-5.0,49.5
1,2010,1,BUF,MIA,15,BUF,10,300912002,9,19,...,0,0,0,0,0,23:07,36:53,MIA,-3.0,39
2,2010,1,CHI,CHI,19,DET,14,300912003,23,13,...,3,3,2,0,0,34:42,25:18,CHI,-6.5,45
3,2010,1,TEN,TEN,38,OAK,13,300912010,17,21,...,2,1,1,0,0,31:04,28:56,TEN,-6.5,40
4,2010,1,NE,NE,38,CIN,24,300912017,20,26,...,2,0,1,3,0,28:10,31:50,NE,-5.5,45

In [121]:
# Save results to dataframe
nfl_test.to_csv('nfl_data_full.csv')

### Data cleaning

In [122]:
nfl_test = pd.read_csv('nfl_data_full.csv')
nfl_test.shape

(3036, 60)

In [123]:
nfl_test.head()

,Unnamed: 0,year,week,home_team,winning_team,winning_score,losing_team,losing_score,game_id,home_1st Downs,...,away_Turnovers,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under
0,0,2010,1,NO,NO,14,MIN,9,300909018,18,...,1,0,0,0,0,33:43,26:17,NO,-5.0,49.5
1,1,2010,1,BUF,MIA,15,BUF,10,300912002,9,...,0,0,0,0,0,23:07,36:53,MIA,-3.0,39.0
2,2,2010,1,CHI,CHI,19,DET,14,300912003,23,...,3,3,2,0,0,34:42,25:18,CHI,-6.5,45.0
3,3,2010,1,TEN,TEN,38,OAK,13,300912010,17,...,2,1,1,0,0,31:04,28:56,TEN,-6.5,40.0
4,4,2010,1,NE,NE,38,CIN,24,300912017,20,...,2,0,1,3,0,28:10,31:50,NE,-5.5,45.0

In [124]:
#Dropping NA values
nfl_clean = nfl_test.dropna()

In [125]:
nfl_clean.shape

(3013, 60)

In [126]:
#Converting strings to ints
str_to_int = ['winning_score', 'losing_score', 'line', 'over/under']
for col in str_to_int:
    nfl_clean[col] = nfl_clean[col].astype(float)

/var/folders/5v/f5sznjw51k7cgb1dwrxfc_700000gn/T/ipykernel_24133/2022736400.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_clean[col] = nfl_clean[col].astype(float)

In [127]:
# Add variable for if the over hit
nfl_clean['over'] = None
nfl_clean['total_score'] = None
for j in range(nfl_clean.shape[0]):
    nfl_clean['total_score'].iloc[j] = nfl_clean['winning_score'].iloc[j]+nfl_clean['losing_score'].iloc[j]
    if nfl_clean['total_score'].iloc[j] > nfl_clean['over/under'].iloc[j]:
        nfl_clean['over'].iloc[j] = 1
    elif nfl_clean['total_score'].iloc[j] == nfl_clean['over/under'].iloc[j]:
        nfl_clean['over'].iloc[j] = np.nan
    else:
        nfl_clean['over'].iloc[j] = 0

/var/folders/5v/f5sznjw51k7cgb1dwrxfc_700000gn/T/ipykernel_24133/2226499364.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_clean['over'] = None
/var/folders/5v/f5sznjw51k7cgb1dwrxfc_700000gn/T/ipykernel_24133/2226499364.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_clean['total_score'] = None
/Users/jeffreymayolo/miniforge3/envs/tensorflow/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [128]:
old_dict = {'OAK': 'LV', 'STL': 'LAR', 'SD': 'LAC'}
for i in range(nfl_clean.shape[0]):
    if nfl_clean['winning_team'].iloc[i] in list(old_dict.keys()):
        nfl_clean['winning_team'].iloc[i] = old_dict[nfl_clean['winning_team'].iloc[i]]
    if nfl_clean['losing_team'].iloc[i] in list(old_dict.keys()):
        nfl_clean['losing_team'].iloc[i] = old_dict[nfl_clean['losing_team'].iloc[i]]

In [129]:
if 'Unnamed: 0' in nfl_clean.columns:
    nfl_clean = nfl_clean.drop(['Unnamed: 0'], axis = 1)
nfl_clean.head()

,year,week,home_team,winning_team,winning_score,losing_team,losing_score,game_id,home_1st Downs,away_1st Downs,...,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under,over,total_score
0,2010,1,NO,NO,14.0,MIN,9.0,300909018,18,12,...,0,0,0,33:43,26:17,NO,-5.0,49.5,0,23.0
1,2010,1,BUF,MIA,15.0,BUF,10.0,300912002,9,19,...,0,0,0,23:07,36:53,MIA,-3.0,39.0,0,25.0
2,2010,1,CHI,CHI,19.0,DET,14.0,300912003,23,13,...,2,0,0,34:42,25:18,CHI,-6.5,45.0,0,33.0
3,2010,1,TEN,TEN,38.0,LV,13.0,300912010,17,21,...,1,0,0,31:04,28:56,TEN,-6.5,40.0,1,51.0
4,2010,1,NE,NE,38.0,CIN,24.0,300912017,20,26,...,1,3,0,28:10,31:50,NE,-5.5,45.0,1,62.0

In [133]:
# Add Variable for score differential and spread

nfl_clean['fav_margin'] = None
nfl_clean['fav_cover'] = None
for i in range(nfl_clean.shape[0]):
    if nfl_clean['winning_team'].iloc[i]==nfl_clean['favorite'].iloc[i]:
        nfl_clean['fav_margin'].iloc[i] = nfl_clean['winning_score'].iloc[i] - nfl_clean['losing_score'].iloc[i]
    else:
        nfl_clean['fav_margin'].iloc[i] = nfl_clean['losing_score'].iloc[i] - nfl_clean['winning_score'].iloc[i]
    if nfl_clean['fav_margin'].iloc[i] > abs(nfl_clean['line'].iloc[i]):
        nfl_clean['fav_cover'].iloc[i] = 1
    elif nfl_clean['fav_margin'].iloc[i] == abs(nfl_clean['line'].iloc[i]):
        nfl_clean['fav_cover'].iloc[i] = np.nan
    else:
        nfl_clean['fav_cover'].iloc[i] = 0

/Users/jeffreymayolo/miniforge3/envs/tensorflow/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [134]:
nfl_clean.head(-20)

,year,week,home_team,winning_team,winning_score,losing_team,losing_score,game_id,home_1st Downs,away_1st Downs,...,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under,over,total_score,fav_margin,fav_cover
0,2010,1,NO,NO,14.0,MIN,9.0,300909018,18,12,...,0,33:43,26:17,NO,-5.0,49.5,0,23.0,5.0,NaN
1,2010,1,BUF,MIA,15.0,BUF,10.0,300912002,9,19,...,0,23:07,36:53,MIA,-3.0,39.0,0,25.0,5.0,1
2,2010,1,CHI,CHI,19.0,DET,14.0,300912003,23,13,...,0,34:42,25:18,CHI,-6.5,45.0,0,33.0,5.0,0
3,2010,1,TEN,TEN,38.0,LV,13.0,300912010,17,21,...,0,31:04,28:56,TEN,-6.5,40.0,1,51.0,25.0,1
4,2010,1,NE,NE,38.0,CIN,24.0,300912017,20,26,...,0,28:10,31:50,NE,-5.5,45.0,1,62.0,14.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3011,2022,15,CAR,PIT,24.0,CAR,16.0,401437907,12,22,...,0,23:49,36:11,CAR,-3.0,37.0,1,40.0,-8.0,0
3012,2022,15,JAX,JAX,40.0,DAL,34.0,401437910,26,24,...,0,27:42,35:26,DAL,-4.0,48.0,1,74.0,-6.0,0
3013,2022,15,HOU,KC,30.0,HOU,24.0,401437909,18,33,...,0,27:25,37:22,KC,-14.0,48.5,1,54.0,6.0,0
3014,2022,15,DEN,DEN,24.0,ARI,15.0,401437912,23,13,...,0,32:58,27:02,DEN,-2.0,37.0,1,39.0,9.0,1
3015,2022,15,LV,LV,30.0,NE,24.0,401437915,18,19,...,1,33:16,26:44,LV,-2.5,45.0,1,54.0,6.0,1

In [136]:
nfl_clean = nfl_clean.drop(['game_id'], axis = 1)
for i in range(nfl_clean.shape[1]):
    print(nfl_clean.columns[i] + ': ' + str(type(nfl_clean.iloc[0][i])))

year: <class 'numpy.int64'>
week: <class 'numpy.int64'>
home_team: <class 'str'>
winning_team: <class 'str'>
winning_score: <class 'numpy.float64'>
losing_team: <class 'str'>
losing_score: <class 'numpy.float64'>
home_1st Downs: <class 'numpy.int64'>
away_1st Downs: <class 'numpy.int64'>
home_Passing 1st downs: <class 'numpy.int64'>
away_Passing 1st downs: <class 'numpy.int64'>
home_Rushing 1st downs: <class 'numpy.int64'>
away_Rushing 1st downs: <class 'numpy.int64'>
home_1st downs from penalties: <class 'numpy.int64'>
away_1st downs from penalties: <class 'numpy.int64'>
home_3rd down efficiency: <class 'str'>
away_3rd down efficiency: <class 'str'>
home_4th down efficiency: <class 'str'>
away_4th down efficiency: <class 'str'>
home_Total Plays: <class 'numpy.int64'>
away_Total Plays: <class 'numpy.int64'>
home_Total Yards: <class 'numpy.int64'>
away_Total Yards: <class 'numpy.int64'>
home_Total Drives: <class 'numpy.int64'>
away_Total Drives: <class 'numpy.int64'>
home_Yards per Play: <class 'numpy.float64'>
away_Yards per Play: <class 'numpy.float64'>
home_Passing: <class 'numpy.int64'>
away_Passing: <class 'numpy.int64'>
home_Comp-Att: <class 'str'>
away_Comp-Att: <class 'str'>
home_Yards per pass: <class 'numpy.float64'>
away_Yards per pass: <class 'numpy.float64'>
home_Interceptions thrown: <class 'numpy.int64'>
away_Interceptions thrown: <class 'numpy.int64'>
home_Sacks-Yards Lost: <class 'str'>
away_Sacks-Yards Lost: <class 'str'>
home_Rushing: <class 'numpy.int64'>
away_Rushing: <class 'numpy.int64'>
home_Rushing Attempts: <class 'numpy.int64'>
away_Rushing Attempts: <class 'numpy.int64'>
home_Yards per rush: <class 'numpy.float64'>
away_Yards per rush: <class 'numpy.float64'>
home_Red Zone (Made-Att): <class 'str'>
away_Red Zone (Made-Att): <class 'str'>
home_Penalties: <class 'str'>
away_Penalties: <class 'str'>
home_Turnovers: <class 'numpy.int64'>
away_Turnovers: <class 'numpy.int64'>
home_Fumbles lost: <class 'numpy.int64'>
away_Fumbles lost: <class 'numpy.int64'>
home_Defensive / Special Teams TDs: <class 'numpy.int64'>
away_Defensive / Special Teams TDs: <class 'numpy.int64'>
home_Possession: <class 'str'>
away_Possession: <class 'str'>
favorite: <class 'str'>
line: <class 'numpy.float64'>
over/under: <class 'numpy.float64'>
over: <class 'int'>
total_score: <class 'numpy.float64'>
fav_margin: <class 'numpy.float64'>
fav_cover: <class 'float'>

In [137]:
effs = ['home_3rd down efficiency', 'away_3rd down efficiency', 'home_4th down efficiency', 'away_4th down efficiency', 'home_Comp-Att', 'away_Comp-Att', 'home_Red Zone (Made-Att)', 'away_Red Zone (Made-Att)']

for col in effs:
    for i in range(nfl_clean.shape[0]):
        eff = nfl_clean[col].iloc[i].split('-')
        try:
            nfl_clean[col].iloc[i] = float(eff[0])/float(eff[1])
        except Exception as e:
            nfl_clean[col].iloc[i] = np.nan

/Users/jeffreymayolo/miniforge3/envs/tensorflow/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [138]:
varis = ['home_Sacks-Yards Lost', 'away_Sacks-Yards Lost', 'home_Penalties', 'away_Penalties']
for col in varis:
    for i in range(nfl_clean.shape[0]):
        vari = nfl_clean[col].iloc[i].split('-')
        nfl_clean[col].iloc[i] = int(vari[0])

In [139]:
for i in range(nfl_clean.shape[0]):
    poss = nfl_clean['home_Possession'].iloc[i].split(':')
    nfl_clean['home_Possession'].iloc[i] = float(poss[0]) + float(poss[1])/60
    poss = nfl_clean['away_Possession'].iloc[i].split(':')
    nfl_clean['away_Possession'].iloc[i] = float(poss[0]) + float(poss[1])/60

In [140]:
nfl_clean.head(10)

,year,week,home_team,winning_team,winning_score,losing_team,losing_score,home_1st Downs,away_1st Downs,home_Passing 1st downs,...,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under,over,total_score,fav_margin,fav_cover
0,2010,1,NO,NO,14.0,MIN,9.0,18,12,12,...,0,33.716667,26.283333,NO,-5.0,49.5,0,23.0,5.0,NaN
1,2010,1,BUF,MIA,15.0,BUF,10.0,9,19,6,...,0,23.116667,36.883333,MIA,-3.0,39.0,0,25.0,5.0,1
2,2010,1,CHI,CHI,19.0,DET,14.0,23,13,15,...,0,34.7,25.3,CHI,-6.5,45.0,0,33.0,5.0,0
3,2010,1,TEN,TEN,38.0,LV,13.0,17,21,6,...,0,31.066667,28.933333,TEN,-6.5,40.0,1,51.0,25.0,1
4,2010,1,NE,NE,38.0,CIN,24.0,20,26,13,...,0,28.166667,31.833333,NE,-5.5,45.0,1,62.0,14.0,1
5,2010,1,NYG,NYG,31.0,CAR,18.0,21,14,10,...,0,34.65,25.35,NYG,-6.0,41.0,1,49.0,13.0,1
6,2010,1,PIT,PIT,15.0,ATL,9.0,14,18,8,...,0,32.1,30.483333,ATL,-1.5,39.5,0,24.0,-6.0,0
7,2010,1,TB,TB,17.0,CLE,14.0,13,15,9,...,0,32.35,27.65,TB,-2.5,37.0,0,31.0,3.0,1
8,2010,1,JAX,JAX,24.0,DEN,17.0,18,21,6,...,0,29.5,30.5,JAX,-3.0,41.5,0,41.0,7.0,1
9,2010,1,HOU,HOU,34.0,IND,24.0,23,25,7,...,0,30.883333,29.116667,IND,-1.0,48.0,1,58.0,-10.0,0

In [142]:
nfl_clean.to_csv('nfl_data_full_clean.csv')