## Combine in dataframes

In [1]:
import pandas as pd
import numpy as np
import math

In [20]:
#Read in seperate dfs
nfl_2021 = pd.read_csv('nfl_scrape.csv')
nfl_2015 = pd.read_csv('nfl_scrape_2015_2020.csv')
nfl_2014 = pd.read_csv('nfl_scrape_2014_2025.csv')
nfl_2010 = pd.read_csv('nfl_scrape_test.csv')

dfs = [nfl_2010, nfl_2014, nfl_2015, nfl_2021]
nfl = nfl_2010.copy()

#Append dfs together
for i in range(len(dfs)-1):
    nfl = nfl.append(dfs[i+1])

In [ ]:
#Sort and save csv
nfl = nfl.sort_values(by='year')
nfl.to_csv('nfl_data_full.csv')

In [24]:
nfl.head()

,year,week,home_team,home_score,away_team,away_score,game_id,home_1st Downs,away_1st Downs,home_Passing 1st downs,...,away_Turnovers,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under
0,2015,1,NE,28,PIT,21,400791485,26,23,19,...,1,0,0,0,0,27:55,32:05,NaN,NaN,NaN
1,2015,1,BUF,27,IND,14,400791541,15,23,7,...,3,0,1,0,0,30:56,29:04,NaN,NaN,NaN
2,2015,1,GB,31,CHI,23,400791489,25,21,12,...,0,0,0,0,0,31:52,28:08,NaN,NaN,NaN
3,2015,1,STL,34,SEA,31,400791550,19,21,13,...,1,3,0,1,3,28:32,37:28,NaN,NaN,NaN
4,2015,1,NYJ,31,CLE,10,400791497,18,15,9,...,5,0,4,0,0,28:20,31:40,NaN,NaN,NaN

## Add missing lines

In [33]:
spreads = pd.read_csv('spreadspoke_scores.csv')
spreads.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,9/2/1966,1966,1,False,Miami Dolphins,14,23,Oakland Raiders,NaN,NaN,NaN,Orange Bowl,False,83.0,6.0,71.0,NaN
1,9/3/1966,1966,1,False,Houston Oilers,45,7,Denver Broncos,NaN,NaN,NaN,Rice Stadium,False,81.0,7.0,70.0,NaN
2,9/4/1966,1966,1,False,San Diego Chargers,27,7,Buffalo Bills,NaN,NaN,NaN,Balboa Stadium,False,70.0,7.0,82.0,NaN
3,9/9/1966,1966,2,False,Miami Dolphins,14,19,New York Jets,NaN,NaN,NaN,Orange Bowl,False,82.0,11.0,78.0,NaN
4,9/10/1966,1966,1,False,Green Bay Packers,24,3,Baltimore Colts,NaN,NaN,NaN,Lambeau Field,False,64.0,8.0,62.0,NaN

In [78]:
# Reduce spreads to years of interest
spreads_filtered = spreads[spreads['schedule_season']>2009]
spreads_filtered = spreads_filtered[spreads_filtered['schedule_season']<2021]
spreads_filtered = spreads_filtered[spreads_filtered['schedule_playoff']==False]
spreads_filtered.shape

(2939, 17)

In [47]:
spreads_filtered.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
10008,9/9/2010,2010,1,False,New Orleans Saints,14,9,Minnesota Vikings,NO,-5.0,49.5,Louisiana Superdome,False,72.0,0.0,NaN,DOME
10009,9/12/2010,2010,1,False,Buffalo Bills,10,15,Miami Dolphins,MIA,-3.0,39,Ralph Wilson Stadium,False,64.0,7.0,81.0,NaN
10010,9/12/2010,2010,1,False,Chicago Bears,19,14,Detroit Lions,CHI,-6.5,45,Soldier Field,False,75.0,1.0,45.0,NaN
10011,9/12/2010,2010,1,False,Houston Texans,34,24,Indianapolis Colts,IND,-1.0,48,Reliant Stadium,False,89.0,5.0,NaN,DOME (Open Roof)
10012,9/12/2010,2010,1,False,Jacksonville Jaguars,24,17,Denver Broncos,JAX,-3.0,41.5,EverBank Field,False,91.0,1.0,67.0,NaN

In [81]:
nfl.head(10)

,year,week,home_team,home_score,away_team,away_score,game_id,home_1st Downs,away_1st Downs,home_Passing 1st downs,...,away_Turnovers,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under
103,2010,8,SD,33,TEN,25,301031024,23,15,13,...,0,0,0,0,0,37:47,22:13,NaN,NaN,NaN
110,2010,9,CLE,34,NE,14,301107005,22,19,10,...,3,1,2,0,0,38:08,21:52,NaN,NaN,NaN
1,2010,1,MIA,15,BUF,10,300912002,9,19,6,...,0,0,0,0,0,23:07,36:53,NaN,NaN,NaN
2,2010,1,CHI,19,DET,14,300912003,23,13,15,...,3,3,2,0,0,34:42,25:18,NaN,NaN,NaN
3,2010,1,TEN,38,OAK,13,300912010,17,21,6,...,2,1,1,0,0,31:04,28:56,NaN,NaN,NaN
4,2010,1,NE,38,CIN,24,300912017,20,26,13,...,2,0,1,3,0,28:10,31:50,NaN,NaN,NaN
5,2010,1,NYG,31,CAR,18,300912019,21,14,10,...,5,1,2,0,0,34:39,25:21,NaN,NaN,NaN
6,2010,1,PIT,15,ATL,9,300912023,14,18,8,...,1,0,0,0,0,32:06,30:29,NaN,NaN,NaN
7,2010,1,TB,17,CLE,14,300912027,13,15,9,...,3,1,1,0,0,32:21,27:39,NaN,NaN,NaN
8,2010,1,JAX,24,DEN,17,300912030,18,21,6,...,2,0,1,0,0,29:30,30:30,NaN,NaN,NaN

In [85]:
team_list = np.sort(spreads_filtered['team_home'].unique())
print(team_list)

['Arizona Cardinals' 'Atlanta Falcons' 'Baltimore Ravens' 'Buffalo Bills'
 'Carolina Panthers' 'Chicago Bears' 'Cincinnati Bengals'
 'Cleveland Browns' 'Dallas Cowboys' 'Denver Broncos' 'Detroit Lions'
 'Green Bay Packers' 'Houston Texans' 'Indianapolis Colts'
 'Jacksonville Jaguars' 'Kansas City Chiefs' 'Las Vegas Raiders'
 'Los Angeles Chargers' 'Los Angeles Rams' 'Miami Dolphins'
 'Minnesota Vikings' 'New England Patriots' 'New Orleans Saints'
 'New York Giants' 'New York Jets' 'Oakland Raiders' 'Philadelphia Eagles'
 'Pittsburgh Steelers' 'San Diego Chargers' 'San Francisco 49ers'
 'Seattle Seahawks' 'St. Louis Rams' 'Tampa Bay Buccaneers'
 'Tennessee Titans' 'Washington Football Team' 'Washington Redskins']

In [87]:
abr_list = np.sort(nfl['home_team'].unique())
abr_list

array(['ARI', 'ATL', 'BAL', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'DAL',
       'DEN', 'DET', 'GB', 'HOU', 'IND', 'JAX', 'KC', 'LAC', 'LAR', 'LV',
       'MIA', 'MIN', 'NE', 'NO', 'NYG', 'NYJ', 'OAK', 'PHI', 'PIT', 'SD',
       'SEA', 'SF', 'STL', 'TB', 'TEN', 'WSH'], dtype=object)

In [ ]:
#Create dictionary mapping team names to abreviation
team_dict = {'Arizona Cardinals': 'ARI', 'Atlanta Falcons': 'ATL', 'Baltimore Ravens': 'BAL', 'Buffalo Bills': 'BUF',
 'Carolina Panthers': 'CAR', 'Chicago Bears': 'CHI', 'Cincinnati Bengals': 'CIN',
 'Cleveland Browns': 'CLE', 'Dallas Cowboys': 'DAL', 'Denver Broncos': 'DEN', 'Detroit Lions': 'DET',
 'Green Bay Packers': 'GB', 'Houston Texans': 'HOU', 'Indianapolis Colts': 'IND',
 'Jacksonville Jaguars': 'JAX', 'Kansas City Chiefs': 'KC', 'Las Vegas Raiders': 'LV',
 'Los Angeles Chargers': 'LAC', 'Los Angeles Rams': 'LAR', 'Miami Dolphins': 'MIA',
 'Minnesota Vikings': 'MIN', 'New England Patriots': 'NE', 'New Orleans Saints': 'NO',
 'New York Giants': 'NYG', 'New York Jets': 'NYJ', 'Oakland Raiders': 'OAK', 'Philadelphia Eagles': 'PHI',
 'Pittsburgh Steelers': 'PIT', 'San Diego Chargers': 'SD', 'San Francisco 49ers': 'SF',
 'Seattle Seahawks': 'SEA', 'St. Louis Rams': 'STL', 'Tampa Bay Buccaneers': 'TB',
 'Tennessee Titans': 'TEN', 'Washington Football Team': 'WSH', 'Washington Redskins': 'WSH'}

In [88]:
# Replacing team names with abreviations
for i in range(spreads_filtered.shape[0]):
    spreads_filtered['team_home'].iloc[i] = team_dict[spreads_filtered['team_home'].iloc[i]]
    spreads_filtered['team_away'].iloc[i] = team_dict[spreads_filtered['team_away'].iloc[i]]

/Users/jeffreymayolo/miniforge3/envs/tensorflow/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [89]:
spreads_filtered.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
10008,9/9/2010,2010,1,False,NO,14,9,MIN,NO,-5.0,49.5,Louisiana Superdome,False,72.0,0.0,NaN,DOME
10009,9/12/2010,2010,1,False,BUF,10,15,MIA,MIA,-3.0,39,Ralph Wilson Stadium,False,64.0,7.0,81.0,NaN
10010,9/12/2010,2010,1,False,CHI,19,14,DET,CHI,-6.5,45,Soldier Field,False,75.0,1.0,45.0,NaN
10011,9/12/2010,2010,1,False,HOU,34,24,IND,IND,-1.0,48,Reliant Stadium,False,89.0,5.0,NaN,DOME (Open Roof)
10012,9/12/2010,2010,1,False,JAX,24,17,DEN,JAX,-3.0,41.5,EverBank Field,False,91.0,1.0,67.0,NaN

In [95]:
# Add column to match based off week, home team and away team
spreads_filtered['match'] = None
spreads_filtered['match'] = spreads_filtered['schedule_week'] + spreads_filtered['team_home'] + spreads_filtered['team_away']
spreads_filtered.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail,match
10008,9/9/2010,2010,1,False,NO,14,9,MIN,NO,-5.0,49.5,Louisiana Superdome,False,72.0,0.0,NaN,DOME,1NOMIN
10009,9/12/2010,2010,1,False,BUF,10,15,MIA,MIA,-3.0,39,Ralph Wilson Stadium,False,64.0,7.0,81.0,NaN,1BUFMIA
10010,9/12/2010,2010,1,False,CHI,19,14,DET,CHI,-6.5,45,Soldier Field,False,75.0,1.0,45.0,NaN,1CHIDET
10011,9/12/2010,2010,1,False,HOU,34,24,IND,IND,-1.0,48,Reliant Stadium,False,89.0,5.0,NaN,DOME (Open Roof),1HOUIND
10012,9/12/2010,2010,1,False,JAX,24,17,DEN,JAX,-3.0,41.5,EverBank Field,False,91.0,1.0,67.0,NaN,1JAXDEN

In [110]:
# Add same matching column to nfl data
nfl['match'] = None
for k in range(nfl.shape[0]):
    nfl['match'].iloc[k] = str(nfl['week'].iloc[k]).replace(" ", "") + str(nfl['home_team'].iloc[k]).replace(" ", "") + str(nfl['away_team'].iloc[k]).replace(" ", "")
nfl.head()

/Users/jeffreymayolo/miniforge3/envs/tensorflow/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,year,week,home_team,home_score,away_team,away_score,game_id,home_1st Downs,away_1st Downs,home_Passing 1st downs,...,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under,match
103,2010,8,SD,33,TEN,25,301031024,23,15,13,...,0,0,0,0,37:47,22:13,NaN,NaN,NaN,8SDTEN
110,2010,9,CLE,34,NE,14,301107005,22,19,10,...,1,2,0,0,38:08,21:52,NaN,NaN,NaN,9CLENE
1,2010,1,MIA,15,BUF,10,300912002,9,19,6,...,0,0,0,0,23:07,36:53,NaN,NaN,NaN,1MIABUF
2,2010,1,CHI,19,DET,14,300912003,23,13,15,...,3,2,0,0,34:42,25:18,NaN,NaN,NaN,1CHIDET
3,2010,1,TEN,38,OAK,13,300912010,17,21,6,...,1,1,0,0,31:04,28:56,NaN,NaN,NaN,1TENOAK

In [112]:
# Filter spreads to only the columns that matter
spreads_df = spreads_filtered[['team_favorite_id', 'spread_favorite', 'over_under_line', 'match']]
spreads_df.head()

      team_favorite_id  spread_favorite over_under_line    match
10008               NO             -5.0            49.5   1NOMIN
10009              MIA             -3.0              39  1BUFMIA
10010              CHI             -6.5              45  1CHIDET
10011              IND             -1.0              48  1HOUIND
10012              JAX             -3.0            41.5  1JAXDEN

In [115]:
#Combine dataframes based off matching column
nfl_test = nfl.join(spreads_df.set_index('match'), on = 'match')
nfl_test.head()

,year,week,home_team,home_score,away_team,away_score,game_id,home_1st Downs,away_1st Downs,home_Passing 1st downs,...,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under,match,team_favorite_id,spread_favorite,over_under_line
103,2010,8,SD,33,TEN,25,301031024,23,15,13,...,0,37:47,22:13,NaN,NaN,NaN,8SDTEN,LAC,-6.0,45
110,2010,9,CLE,34,NE,14,301107005,22,19,10,...,0,38:08,21:52,NaN,NaN,NaN,9CLENE,NE,-4.0,43.5
1,2010,1,MIA,15,BUF,10,300912002,9,19,6,...,0,23:07,36:53,NaN,NaN,NaN,1MIABUF,NaN,NaN,NaN
2,2010,1,CHI,19,DET,14,300912003,23,13,15,...,0,34:42,25:18,NaN,NaN,NaN,1CHIDET,CHI,-6.5,45
3,2010,1,TEN,38,OAK,13,300912010,17,21,6,...,0,31:04,28:56,NaN,NaN,NaN,1TENOAK,TEN,-6.5,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
478,2022,16,TB,19,ARI,16,401437930,16,21,8,...,0,29:22,36:57,TB,-7.5,41.5,16TBARI,NaN,NaN,NaN
479,2022,16,LAC,20,IND,3,401437931,10,17,6,...,0,26:06,33:54,LAC,-3.5,44.5,16LACIND,NaN,NaN,NaN
467,2022,16,KC,24,SEA,10,401437922,14,19,9,...,0,24:58,35:02,KC,-10.0,50.5,16KCSEA,NaN,NaN,NaN
361,2022,8,BUF,27,GB,17,401437817,20,21,8,...,0,26:12,33:48,BUF,-10.5,47.0,8BUFGB,NaN,NaN,NaN
301,2022,4,LV,32,DEN,23,401437760,25,12,11,...,0,34:52,25:08,LV,-2.5,45.5,4LVDEN,NaN,NaN,NaN

In [135]:
# Fill in values in the full data frame so there is only one column for lines
for t in range(nfl_test.shape[0]):
    if math.isnan(nfl_test['favorite'].iloc[t]):
        nfl_test['favorite'].iloc[t] = nfl_test['team_favorite_id'].iloc[t]
        nfl_test['line'].iloc[t] = nfl_test['spread_favorite'].iloc[t]
        nfl_test['over/under'].iloc[t] = nfl_test['over_under_line'].iloc[t]
nfl_test.head()

,year,week,home_team,home_score,away_team,away_score,game_id,home_1st Downs,away_1st Downs,home_Passing 1st downs,...,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under,match,team_favorite_id,spread_favorite,over_under_line
103,2010,8,SD,33,TEN,25,301031024,23,15,13,...,0,37:47,22:13,LAC,-6.0,45,8SDTEN,LAC,-6.0,45
110,2010,9,CLE,34,NE,14,301107005,22,19,10,...,0,38:08,21:52,NE,-4.0,43.5,9CLENE,NE,-4.0,43.5
1,2010,1,MIA,15,BUF,10,300912002,9,19,6,...,0,23:07,36:53,NaN,NaN,NaN,1MIABUF,NaN,NaN,NaN
2,2010,1,CHI,19,DET,14,300912003,23,13,15,...,0,34:42,25:18,CHI,-6.5,45,1CHIDET,CHI,-6.5,45
3,2010,1,TEN,38,OAK,13,300912010,17,21,6,...,0,31:04,28:56,TEN,-6.5,40,1TENOAK,TEN,-6.5,40

In [140]:
# Drop unecessary columns
nfl_test = nfl_test.drop(['match', 'team_favorite_id', 'spread_favorite', 'over_under_line'], axis = 1)
nfl_test.head()

,year,week,home_team,home_score,away_team,away_score,game_id,home_1st Downs,away_1st Downs,home_Passing 1st downs,...,away_Turnovers,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under
103,2010,8,SD,33,TEN,25,301031024,23,15,13,...,0,0,0,0,0,37:47,22:13,LAC,-6.0,45
110,2010,9,CLE,34,NE,14,301107005,22,19,10,...,3,1,2,0,0,38:08,21:52,NE,-4.0,43.5
1,2010,1,MIA,15,BUF,10,300912002,9,19,6,...,0,0,0,0,0,23:07,36:53,NaN,NaN,NaN
2,2010,1,CHI,19,DET,14,300912003,23,13,15,...,3,3,2,0,0,34:42,25:18,CHI,-6.5,45
3,2010,1,TEN,38,OAK,13,300912010,17,21,6,...,2,1,1,0,0,31:04,28:56,TEN,-6.5,40

In [141]:
# Save results to dataframe
nfl_test.to_csv('nfl_data_full.csv')

### Data cleaning

In [6]:
nfl_test = pd.read_csv('nfl_data_full.csv')
nfl_test.shape

(3172, 59)

In [7]:
nfl_test.head()

,Unnamed: 0,year,week,home_team,home_score,away_team,away_score,game_id,home_1st Downs,away_1st Downs,...,away_Turnovers,home_Fumbles lost,away_Fumbles lost,home_Defensive / Special Teams TDs,away_Defensive / Special Teams TDs,home_Possession,away_Possession,favorite,line,over/under
0,103,2010,8,SD,33,TEN,25,301031024,23,15,...,0,0,0,0,0,37:47,22:13,LAC,-6.0,45.0
1,110,2010,9,CLE,34,NE,14,301107005,22,19,...,3,1,2,0,0,38:08,21:52,NE,-4.0,43.5
2,1,2010,1,MIA,15,BUF,10,300912002,9,19,...,0,0,0,0,0,23:07,36:53,NaN,NaN,NaN
3,2,2010,1,CHI,19,DET,14,300912003,23,13,...,3,3,2,0,0,34:42,25:18,CHI,-6.5,45.0
4,3,2010,1,TEN,38,OAK,13,300912010,17,21,...,2,1,1,0,0,31:04,28:56,TEN,-6.5,40.0

In [8]:
#Dropping NA values
nfl_clean = nfl_test.dropna()

In [9]:
nfl_clean.shape

(2344, 59)

In [10]:
#Converting strings to ints
str_to_int = ['home_score', 'away_score', 'line', 'over/under']
for col in str_to_int:
    nfl_clean[col] = nfl_clean[col].astype(float)

/var/folders/5v/f5sznjw51k7cgb1dwrxfc_700000gn/T/ipykernel_8673/3729051049.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_clean[col] = nfl_clean[col].astype(float)

In [13]:
# Add variable for if the over hit
nfl_clean['over'] = None
for j in range(5):
    total = nfl_clean['home_score'].iloc[j]+nfl_clean['away_score'].iloc[j]
    nfl_clean['over'].iloc[j] = ((nfl_clean['home_score'].iloc[j]+nfl_clean['away_score'].iloc[j])>nfl_clean['over/under'].iloc[j])*1

/var/folders/5v/f5sznjw51k7cgb1dwrxfc_700000gn/T/ipykernel_8673/4094071399.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_clean['over'] = None
/Users/jeffreymayolo/miniforge3/envs/tensorflow/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [17]:
for i in range(nfl_clean.shape[1]):
    print(nfl_clean.columns[i] + ':' + str(type(nfl_clean.iloc[0][i])))

Unnamed: 0:<class 'numpy.int64'>
year:<class 'numpy.int64'>
week:<class 'numpy.int64'>
home_team:<class 'str'>
home_score:<class 'numpy.float64'>
away_team:<class 'str'>
away_score:<class 'numpy.float64'>
game_id:<class 'numpy.int64'>
home_1st Downs:<class 'numpy.int64'>
away_1st Downs:<class 'numpy.int64'>
home_Passing 1st downs:<class 'numpy.int64'>
away_Passing 1st downs:<class 'numpy.int64'>
home_Rushing 1st downs:<class 'numpy.int64'>
away_Rushing 1st downs:<class 'numpy.int64'>
home_1st downs from penalties:<class 'numpy.int64'>
away_1st downs from penalties:<class 'numpy.int64'>
home_3rd down efficiency:<class 'str'>
away_3rd down efficiency:<class 'str'>
home_4th down efficiency:<class 'str'>
away_4th down efficiency:<class 'str'>
home_Total Plays:<class 'numpy.int64'>
away_Total Plays:<class 'numpy.int64'>
home_Total Yards:<class 'numpy.int64'>
away_Total Yards:<class 'numpy.int64'>
home_Total Drives:<class 'numpy.int64'>
away_Total Drives:<class 'numpy.int64'>
home_Yards per Play:<class 'numpy.float64'>
away_Yards per Play:<class 'numpy.float64'>
home_Passing:<class 'numpy.int64'>
away_Passing:<class 'numpy.int64'>
home_Comp-Att:<class 'str'>
away_Comp-Att:<class 'str'>
home_Yards per pass:<class 'numpy.float64'>
away_Yards per pass:<class 'numpy.float64'>
home_Interceptions thrown:<class 'numpy.int64'>
away_Interceptions thrown:<class 'numpy.int64'>
home_Sacks-Yards Lost:<class 'str'>
away_Sacks-Yards Lost:<class 'str'>
home_Rushing:<class 'numpy.int64'>
away_Rushing:<class 'numpy.int64'>
home_Rushing Attempts:<class 'numpy.int64'>
away_Rushing Attempts:<class 'numpy.int64'>
home_Yards per rush:<class 'numpy.float64'>
away_Yards per rush:<class 'numpy.float64'>
home_Red Zone (Made-Att):<class 'str'>
away_Red Zone (Made-Att):<class 'str'>
home_Penalties:<class 'str'>
away_Penalties:<class 'str'>
home_Turnovers:<class 'numpy.int64'>
away_Turnovers:<class 'numpy.int64'>
home_Fumbles lost:<class 'numpy.int64'>
away_Fumbles lost:<class 'numpy.int64'>
home_Defensive / Special Teams TDs:<class 'numpy.int64'>
away_Defensive / Special Teams TDs:<class 'numpy.int64'>
home_Possession:<class 'str'>
away_Possession:<class 'str'>
favorite:<class 'str'>
line:<class 'numpy.float64'>
over/under:<class 'numpy.float64'>
over:<class 'numpy.int64'>